<div style="border: 1px solid red; width: 100%; min-height: 200px;">
    <h3>
        Button Component
    </h3>
    <p-button
            *ngFor="let button of buttons"
            label="{{button.name}}"
            size="{{button.size}}"
            view="extra"
            (click)="handleClick($event)"
    >
    </p-button>
    <p-button
            *ngFor="let button of buttons"
            label="{{button.name}}"
            size="{{button.size}}"
            view="extra"
            disabled={{true}}
            (click)="handleClick($event)"
    >
    </p-button>
</div>

<router-outlet></router-outlet>
